body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
    background: linear-gradient(to bottom, rgba(255, 230, 230,0.3), rgb(255, 209, 209,0.3));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.grid-container {
    width: 60%;
    max-width: 1200px;
    min-height: 400px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 80px 60px;
}


h1 {
    text-align: left;
    color: #333;
    font-size: 2.5em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 20px;
}

.small {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8em;
    line-height: 1.12    
}
@media only screen and (max-width: 1200px) {

    .grid-container {
        width: 70%;
        margin-top: 15px;
    }

}

@media only screen and (max-width: 1000px) {
    body {
        height: auto;
        align-items: normal;
    }
    .grid-container {
        width: 90%;
        margin-top: 15px;
    }
    h1 {
        font-size: 1.8em;
    }
}

@media only screen and (max-width: 600px) {
    body {
        height: auto;
        align-items: normal;
    }
    .grid-container {
        width: auto;
    }
    h1 {
        font-size: 1.8em;
    }
}