body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
    background: linear-gradient(to bottom, rgba(255, 230, 230,0.7), rgb(255, 209, 209,0.8));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.grid-container {
    width: 60%;
    max-width: 1200px;
    min-height: 400px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 80px 60px;
}


h1 {
    text-align: left;
    color: #333;
    font-size: 2.5em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 20px;
}

p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #333;
    margin-bottom: 15px;
}
ul li, blockquote, blockquote p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #333;
    margin-bottom: 3px;
}
.small {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8em;
    line-height: 1.32;
}
a {
    color: #e63946;
    text-decoration: none;
    border-bottom: 2px solid #e63946;
}
@media only screen and (max-width: 1500px) {

    .grid-container {
        width: 85%;
        margin-top: 25px;
    }

}

@media only screen and (max-width: 1200px) {

    .grid-container {
        width: 80%;
        margin-top: 105px;
    }

}

@media only screen and (max-width: 1000px) {
    body {
        height: auto;
        align-items: normal;
    }
    .grid-container {
        width: 90%;
        margin-top: 15px;
    }
    h1 {
        font-size: 1.8em;
    }
}

@media only screen and (max-width: 600px) {
    body {
        height: auto;
        align-items: normal;
    }
    .grid-container {
        width: 92%;
        padding: 2.5rem 2rem;
    }
    h1 {
        font-size: 1.8em;
    }
    p, ul li, blockquote, blockquote p {
        font-size: 1em;
         line-height: 1.5;
    }
}
.grid-container {
  animation-name:gridload;
  animation-duration:1s;
  animation-iteration-count:1;
  animation-fill-mode:forwards;
  animation-delay:.5s;
  opacity:0;
  transform:translateX(0) translateY(0) scale(.95);

}

h1, p, ul li, blockquote, blockquote p {
  animation-name:textload;
  animation-duration:2s;
  animation-iteration-count:1;
  animation-fill-mode:forwards;
  animation-delay:0.5s;

    opacity:1;
    background: linear-gradient(to left, rgb(250, 182, 182), rgb(241, 73, 73));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* Fallback für Firefox */
     color: rgb(250, 182, 182); 
    background-clip: text;
    


}


@keyframes gridload {
  from {
    -webkit-transform:translateX(0) translateY(0) scale(.95);
    transform:translateX(0) translateY(0) scale(.95);
    opacity:0
  }
  to {
    -webkit-transform:translateX(0) translateY(0) scale(1);
    transform:translateX(0) translateY(0) scale(1);
    opacity:1
  }
}
@keyframes textload {
  from {
   opacity:0;
    background: linear-gradient(to left, rgb(250, 182, 182), rgb(241, 73, 73));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* Fallback für Firefox */
     color: rgb(250, 182, 182); 
    background-clip: text;
    
 
}
  to {
    opacity:1;
    background: none;
    color: #333;
    -webkit-text-fill-color: #333;

  }
}
  